
body {
    font-family: Serif;

}

h1 {
    font-family: sans-serif;
}

#content {
    font-family: Serif;
}

#generate {

}

.button {
    color: springgreen;
    background-color: whitesmoke;
}

a {
    font-family: Serif;
    color: springgreen;
}
a:hover{
    font-family: "Comic Sans MS";
    color: aqua;
}

div p{
    background-color: white;
}