
body {
    font-family: Serif;
    background-color: palegoldenrod;
    color: black;

}

h1 {
    font-family: sans-serif;
    color: maroon;
}

#content {
    font-family: Serif;
}

#generate {

}

.button {
    color: white;
    background-color: maroon;
}
.button-outline {
    color: Black;
    border-color: maroon;

}

a {
    font-size: large;
    font-family: Serif;
    color: maroon;
}
a:hover{
    font-size: 105%;
    color: red;
}

div p{
    color: maroon;
    width:200px;
    padding:15px;
    border:black 5px dotted;
    margin: 20px;
}